<div class="projects-portfolio">
  <ul class="project-box">
    <div *ngFor="let project of projects" [routerLink]="project._id">
      <li class="project-content">
        <a routerLink="{{ project._id }}">
          <h1>{{ project.title }}</h1>
          <p>{{ project.year }}</p>
          <p>{{ project.description}}</p>
        </a>
        <img src="{{project.imageUrl}}" class="gallery-img"/>
        <div class="project-rating">
          <span class="heading">Project Rating </span>
          <span class="fa fa-star checked" ></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
    <!--    <app-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></app-rating>
              <hr>
           <pre>
             Selected: <b>{{selected}}</b>
            Hovered: <b>{{hovered}}</b>
          </pre>-->
      </li>
    </div>
  </ul>
</div>
