<div class="projects-portfolio">
  <ul class="project-box">
    <div *ngFor="let project of projects" [routerLink]="project._id">
      <li class="project-content">
        <a routerLink="{{ project._id }}">
          <h1>{{ project.title }}</h1>
          <p>{{ project.year }}</p>
          <p>{{ project.description}}</p>
        </a>
        <img src="{{project.imageUrl}}" class="gallery-img"/>
        <div class="project-rating">
          <span class="heading">Project Rating </span>
          <span class="fa fa-star checked" ></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
      </li>
    </div>
  </ul>
</div>
