.create-project-container {
  background-color: var(--text-headings-color);
  width: 100vw;
  height: 100vh;
}

.create-project {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--text-primary-color);
  background-blend-mode: hue;
  padding-bottom: 1em;
  padding-top: 1em;
  color: var(--text-headings-color);
}

.logo-form {
  position: relative;
  font-weight: 700;
  font-size: 2em;
  color: var(--golden-text);
  text-shadow: 0 0 0.2em var(--text-headings-color);
  padding-left: 0.5em;
}

.create-project input {
  font-style: italic;
  color: var(--golden-text);
  border: 2px solid var(--golden-text);
  background-color:var(--text-primary-color);
  padding: 0.2em;
}

.create-project input {
  color: var(--golden-text); border: 2px solid var(--golden-text);
  background-color:white;
}

input.create-project.touched {
  border-color: var(--header-and-footer-color);
}

button {
  margin: 2em auto;
}

div.form-field:last-child {
  margin-bottom: 2em;
}

.create-project select {
  color: var(--text-headings-color);
}

input.create-project.touched {
  border: 2em solid var(--golden-text);
}

.create-project label {
  padding-right: 2em;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.form-field > div {
  padding: 0.4em;
}

.form-field > label {
  color: var(--text-headings-color);
  font-weight: 100;
}

.create-project form {
  padding: 1em;
}
