<div *ngIf="project">
  <div class="project-detail">
    <div>
      <h1>{{ project.title }}</h1>
      <p>{{ project.year }}</p>
      <p>{{ project.description }}</p>
    </div>
    <img src="{{ project.imageUrl }}" class="gallery-img" />
    <!--<div *ngIf="isAuth">
      <span class="heading">Rate this project </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>-->
  </div>
</div>
